.projects-section {
  background-color: #0D0C0C; /* El color que pediste */
  padding: 140px 0; /* Mucha separación con el Hero */
}

.section-label {
  font-family: "Trebuchet MS", sans-serif;
  color: #A87A42; /* Tu cobre */
  font-size: 13px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.project-list {
  display: flex;
  flex-direction: column;
}

.project-item {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dividido mitad y mitad */
  gap: 100px; /* Gran separación entre texto e imagen */
  align-items: start;
  margin-bottom: 80px;
}

.project-title {
  font-size: 42px;
  font-weight: 500;
  color: #f5f5f5;
  margin-bottom: 40px;
}

.project-description p {
  font-size: 19px;
  color: #bfbfbf;
  margin-bottom: 25px;
  line-height: 1.8;
}

.github-link {
  display: inline-block;
  margin: 20px 0 40px 0;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #A87A42;
  padding-bottom: 5px;
  transition: 0.3s;
}

.github-link:hover {
  color: #CFE838;
  border-bottom-color: #CFE838;
}

.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tech-tags span {
  font-size: 13px;
  color: #CFE838; /* Color lima técnico */
  font-weight: bold;
  letter-spacing: 1px;
}

/* Imagen / Placeholder */
.image-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #161618;
  border: 1px solid #2a2a2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-symbol {
  font-size: 40px;
  color: #2a2a2e;
  font-weight: bold;
}

.project-divider {
  border: 0;
  border-top: 1px solid #1c1c1f;
  margin: 60px 0 100px 0;
}

/* Responsivo para que no se rompa en móvil */
@media (max-width: 900px) {
  .project-item {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}