.projects-section {
  background-color: #0D0C0C;
  padding: 60px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.section-label {
  font-family: "Trebuchet MS", sans-serif;
  color: #A87A42;
  font-size: 46px; 
  font-weight: bold;
  letter-spacing: 4px; 
  text-transform: uppercase;
  margin-top: 20px; 
  margin-bottom: 60px; 
  text-align: center;
  position: relative;
}

.section-label::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background-color: #A87A42;
  margin: 15px auto 0;
}

.project-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: start;
  margin-bottom: 100px; 
}

.project-title {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 44px;
  font-weight: bold;
  color: #f5f5f5;
  margin-bottom: 30px;
}

.project-description p {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: 400; 
  color: #bfbfbf;
  margin-bottom: 25px;
  line-height: 1.8;
  text-align: justify; 
  hyphens: auto;
}

.github-link {
  font-family: "Trebuchet MS", sans-serif;
  display: inline-block;
  margin: 10px 0;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 17px;
  border-bottom: 2px solid #A87A42;
  padding-bottom: 5px;
  text-decoration: none;
  transition: 0.3s ease;
}

.github-link:hover {
  color: #A87A42;
}

.swagger-note {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  color: #A87A42;
  margin: 20px 0;
}

.tech-tags-container {
  display: flex;
  flex-direction: column;
  gap: 25px; 
  margin-top: 20px;
}

.tech-row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.tech-row i {
  font-size: 48px;
  transition: transform 0.3s ease;
}

.devicon-angular-plain.colored, .devicon-angular-plain { color: #DD0031; }

.tech-row i:hover {
  transform: translateY(-5px);
}

/* AQUÍ EL CAMBIO: Bajamos las imágenes para que alineen con el texto */
.project-image-container {
  display: flex;
  flex-direction: column;
  gap: 40px; 
  width: 100%;
  margin-top: 85px; /* Ajusta este valor según la altura de tus h3 */
}

.project-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  background-color: #161618;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  display: block;
  transition: all 0.4s ease;
}

.project-img:hover {
  border-color: #A87A42;
}

.project-divider {
  border: 0;
  border-top: 1px solid rgba(168, 122, 66, 0.1);
  margin: 60px 0;
}

@media (max-width: 900px) {
  .project-item {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .project-image-container {
    margin-top: 0; /* En móvil vuelven a su posición normal */
  }
}