<nav class="navbar">
  <div class="nav-section left">
    <div class="logo">
      ROQUE OTHACEHE <i class="devicon-java-plain java-icon"></i>
    </div>
  </div>

  <div class="nav-section center">
    <div class="nav-links">
      <a href="#hero" class="nav-btn">Inicio</a>
      <a href="#projects" class="nav-btn">Proyectos</a>
      <a href="#stack" class="nav-btn">Stack</a>
      <a href="#contact" class="nav-btn">Contacto</a>
    </div>
  </div>

  <div class="nav-section right">
    <div class="nav-socials">
      <a href="https://github.com/roqueotha04" target="_blank" class="social-icon">
        <i class="devicon-github-original"></i>
      </a>
      <a href="https://linkedin.com/in/roque-othacehe-a15085243" target="_blank" class="social-icon">
        <i class="devicon-linkedin-plain"></i>
      </a>
    </div>
  </div>
</nav>