.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  height: 80px;
  background-color: #2b2b2b;
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
}

.nav-section.left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.nav-section.center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.nav-section.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.logo {
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
}

.java-icon {
  color: #f89820;
  font-size: 1.8rem;
}

.nav-links {
  display: flex;
  gap: 2.5rem;
}

.nav-btn {
  text-decoration: none;
  color: #a0a0a0;
  font-weight: 500;
  transition: 0.3s;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.nav-btn:hover {
  color: #f89820;
}

.nav-socials {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.lang-switcher {
  display: flex;
  background: #1a1a1a;
  padding: 3px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #333;
  transition: 0.3s;
}

.lang-switcher span {
  padding: 5px 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #666;
  border-radius: 15px;
  transition: 0.3s;
}

.lang-switcher span.active {
  background: #f89820;
  color: #121212;
}

.social-icon {
  color: #fff;
  font-size: 1.6rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #f89820;
  transform: translateY(-2px);
}

@media (max-width: 950px) {
  .nav-section.center {
    display: none;
  }
  .navbar {
    padding: 0 5%;
  }
}